---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import HeroSection from '../../components/HeroSection.astro';
import CustomerReferences from '../../components/CustomerReferences.astro';
import HowItWorks from '../../components/HowItWorks.astro';
import ServicesNetwork from '../../components/ServicesNetwork.astro';
import CaseStudy from '../../components/CaseStudy.astro';
import LeadForm from '../../components/LeadForm.astro';
import Footer from '../../components/Footer.astro';

const lang = 'de';
const currentPath = '/de';
---

<Layout title="ConnectingTheDots - Wachse dein Business durch neue Verbindungen" lang={lang}>
	<Header lang={lang} currentPath={currentPath} />
	<main>
		<HeroSection lang={lang} />
		<CustomerReferences lang={lang} />
		<HowItWorks lang={lang} />
		<ServicesNetwork lang={lang} />
		<CaseStudy lang={lang} />
		<LeadForm lang={lang} />
	</main>
	<Footer lang={lang} currentPath={currentPath} />
</Layout>

<style>
	main {
		min-height: 100vh;
	}
</style>

